* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1a1a1a;
    color: #fff;
    position: sticky;
    top: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}


footer {
    display: flex;
    padding: 1rem;
    background-color: #1a1a1a;
    color: #fff;
}

.content {
    padding: 1rem 2rem;
}

/* MOVIES PAGE */
.movies_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
}

.movie_item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.movie_poster {
    overflow: hidden;
    width: 100%;
}

.movie_poster img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* MOVIE PAGE */
.page {
    min-height: 100vh;
}

.page_content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
}

.page_title {
    margin-bottom: 1rem;
}

.page_image {
    overflow: hidden;
    width: 100%;
}

.page_image img {
    object-fit: cover;
    width: 100%;
}

.page_description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.credits {
    max-height: 300px;
    overflow-y: scroll;
}

.reviews_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
}

.review {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.rating span {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5rem;
}


.review_text p {
    text-align: justify;
    font-size: 0.8rem;
}

/* LOGIN */

.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}


@media screen and (max-width: 768px) {
    .movies_list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .movie_item h2 {
        font-size: 1.2rem;
    }
}