* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movies_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie_item img {
    width: 200px;
    height: 300px;
}