{% extends 'layout.html' %} {% block content %}

<div class="movie_page">
  <a href="/movies" class="return">Return to movies page</a>
  <div class="movie_page_title">
    <h1>{{ movie.title }}</h1>
  </div>
  <div class="movie_page_content">
    <div class="movie_page_image">
      <img
        src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"
        alt="{{ movie.title }}"
      />
    </div>
    <div class="movie_page_description">
      <p>{{ movie.overview }}</p>
    </div>
  </div>
</div>
{% endblock content%}
