{% extends 'layout.html' %} {% block content %}

<div class="page">
  <a href="{% url 'home' %}" class="return">Return to movies page</a>
  <div class="page_title">
    <h1>{{ movie.title }}</h1>
  </div>
  <div class="page_content">
    <div class="page_image">
      <img
        src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"
        alt="{{ movie.title }}"
        loading="lazy"
      />
    </div>
    <div class="page_description">
      <b> {{ message }} </b>
      <p>{{ movie.overview }}</p>
      {% if genres %}
      <h3>Genres</h3>
      <ul>
        {% for genre in genres %}
        <li>{{ genre.name }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <h3>Movie credits</h3>
      <div class="credits">
        <ul>
          {% for credit in movieCredits %}
          <li>
            <a href="{% url 'personDetails' credit.personTMDBId %}">
              {{ credit.name }}
            </a>
            as {{ credit.character }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <h3>Vote or leave a review</h3>
      {% if user.is_authenticated %}
      <form method="POST" action="{% url 'submitReview' movie.tmdb_id %}">
        {% csrf_token %} {{ form }}
        <input type="submit" value="Submit" />
      </form>
      {% else %}
      <p>
        You must be logged in to leave a review.
        <a href="{% url 'login' %}">Login</a>
      </p>
      {% endif %}
    </div>
  </div>
  <div class="page_footer">
    <h2>Movie Reviews</h2>

    {% if reviews %}
    <div class="reviews_list">
      {% for review in reviews %}
      <div class="review">
        <div class="rating">
          <span>{{ review.rating }}</span>
        </div>
        <div class="review_text">
          {% if review.user.first_name %}
          <b>{{ review.user.first_name }} said:</b>
          {% else %}
          <b>{{ review.user.username }} said:</b>
          {% endif %}
          <p>{{ review.review }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock content%}
